<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>DbConnectionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>Signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCart</servlet-name>
        <servlet-class>RemoveFromCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitUserDetails</servlet-name>
        <servlet-class>SubmitUserDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateAdmin</servlet-name>
        <servlet-class>ValidateAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddProducts</servlet-name>
        <servlet-class>AdminAddProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalculateTotal</servlet-name>
        <servlet-class>CalculateTotal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/Signin</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>URL</param-name>
        <param-value>jdbc:mysql://localhost:3306/</param-value>
    </context-param>
    <context-param>
        <param-name>dbname</param-name>
        <param-value>words_paradise</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>pranjal</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCart</servlet-name>
        <url-pattern>/RemoveFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitUserDetails</servlet-name>
        <url-pattern>/SubmitUserDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateAdmin</servlet-name>
        <url-pattern>/ValidateAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddProducts</servlet-name>
        <url-pattern>/AdminAddProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculateTotal</servlet-name>
        <url-pattern>/CalculateTotal</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
